@charset "UTF-8";
/*For All*/
*{
    font-size: 15px;
    font-family:"WenQuanYi Zen Hei","文泉驛正黑","Heiti TC","黑體-繁","LiHei Pro","儷黑 Pro","PingFang TC","Droid Sans","Roboto","Microsoft JhengHei","微軟正黑體";

}

/*[設定]整體----------*/


/*導覽列*/
.container-F{
    width: 100%;
}
.navbar{
    margin-bottom: 0;
}
.main-menu li .glyphicon {
    display: block;
    text-align: center;
    font-size: 24px;
    margin-top: 12px;
    padding-bottom: 4px;
}
.font-sizeGroup{
    padding-top: 40%;
}
/*功能性按鈕*/
/*#openBtnSmallLeft{
    display: none;
    position: fixed;
    background: #ffffffa6;
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
    z-index: 20;
    cursor: pointer;
    top: 20px;
    left: 0;
}*/
#openBtnSmallLeft{
    display: none;
    position: fixed;
    background: #ecf0f1dd;
    padding: 20px 15px;
    border-radius: 0 5px 5px 0;
    z-index: 20;
    cursor: pointer;
    top: 100px;
    width: 50px;
    left: 0px;
    animation-name: CC;
    animation-duration:1.5s;
    animation-fill-mode:forwards;
    animation-delay:0.5s;
} 

#openBtnSmallLeft>span{
    display: block;
    text-align: center;
}
#openBtnSmallLeft:hover,#openBtnSmallLeft:focus,#openBtnSmallLeft:active{
    background: #ffffff;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 20;
    box-shadow: 1px 2px 5px 0px #dadada;
    top: 100px;
    width: 50px;
    left: 0px;
    animation-name: easeInHover;
    animation-duration:0.5s;
}
.sectionMain{
    overflow: hidden;
}
#mySidenav,#mySidenavRight{
    padding-bottom: 99999px; margin-bottom: -99999px;
}
#mySidenav ul.tab-side{
    padding-bottom: calc( 100vh - 520px ); 
}
@keyframes CC {
  0% {
    left: 0px;
    background: #ecf0f1dd;
    box-shadow: 1px 2px 5px 0px rgba(218, 218, 218, 0.3);

  }
  100%{
    left: -33px;
    background: #ecf0f1dd;
    box-shadow: 1px 2px 5px 0px #dadada;
  }
}
@keyframes easeInHover {
  from {
    left: -20px;
    background: #ecf0f1dd;
    box-shadow: 1px 2px 5px 0px rgba(218, 218, 218, 0.3);

  }
  to {
    left: 0px;
    background: #ffffff;
    box-shadow: 1px 2px 5px 0px #dadada;

  }
}

/*[設定]元件----------*/


/*tabs tab-side tab-sideContent*/

.tab-side {}

.tab-side>li {
    width: 100%;
    border-radius: 0;
}

.nav-tabs>li>a {
    border-radius: 0;
    border: 0;
}

.tab-side {
    margin-right: -15px;
    margin-left: -15px;
}

.tab-side>li>a {
    margin-right: 0px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tab-side>li.active>a,
.tab-side>li.active>a:hover,
.tab-side>li.active>a:focus {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 0px;
    border-radius: 0;
    border: 0;
    padding-right: 30px;
    padding-left: 30px;
    box-sizing: border-box;
    border-right: 2px solid #18BC9C;
}


.tab-sideContentSec{
    padding-top: 30px;
}
/*img圖片照片樣式*/

.img-round {
    border-radius: 50%;
    border: 2px solid #fff;
}
.img-searchCommittee .thumbnail {
    height: 320px;
    overflow: hidden;
    position: inherit;
}
.img-searchCommittee .thumbnail .caption{
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 5;
}
.sidenav .media-left a,
.sidenav .media-right a {
    padding: 0;
}

.sidenav .media-right {
    padding-left: 0;
}

.sidenav .media-right a {
    display: table-cell;
    padding-left: 10px;
}

.closebtn-smallLeft {}

/*議題瀏覽 中大尺寸panel 超過滾動*/
.panel-bodyScrollY{
    height: 15em;
    overflow-y: scroll;
}
.panel-issueareaLg{

}
.panel-issueareaLg .panel-bodyScrollY{
    border-left: 1px solid #ecf0f1;
    border-right: 1px solid #ecf0f1;
    overflow-y: hidden;
}
.panel-issueareaLg .panel-footer{
    background-color: #fff;
    border: 1px solid #ecf0f1;
}

.panel-doubleCollapse .list-group .list-group-item .panel-group{
margin-bottom: 0;
}
.panel-doubleCollapse h4.panel-linktitle{
    color: #2c3e50;
    background-color: #ecf0f1;
    border-color: #ecf0f1;
    padding: 10px 15px;
    margin-bottom: 0;
    border-radius: 4px;
    margin-top: 0;
}

/*[設定]層級----------*/


/*文字h1-h6*/


/*LOGO標題*/

.h1 {
    /*font-size: px;*/
}
/*大標題*/

.h2 {
    font-size: 24px !important;
    margin: 0;
}

/*中標題*/
.h3 {
    font-size: 20px !important;
    margin: 0;
}


/*小標題 內文前標題*/
.h4 {
    font-size: 18px !important;
    margin: 0;
}


/*內文中標題*/
.h5 {
    font-weight: bold;
    font-size: 15px !important;
    margin: 0;
}

.text-alert
/*狀態類文字*/

.h6 {
    font-size: 13px !important;
    margin: 0;
}


/*[設定]功能----------*/

.inline-block {
    display: inline-block;
}


/*[設定]間距*/

.b-0 {
    border: 0px;
    border-color: transparent;
}
.bs-0{
    -webkit-box-shadow: none;
    box-shadow:none; 
}

.p-hr {
    padding: 1em 0;
}

.ph-6 {
    padding: 6px 0;
}

.p-0 {
    padding: 0 !important;
}
.pv-10{
    padding-left: 10px;
    padding-right: 10px;
}
.ph-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.ph-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.pt-20{
    padding-top: 20px;
}
.pb-20{
    padding-bottom: 20px;
}

.m-0 {
    margin: 0;
}

.m-10 {
    margin: 10px auto;
}

.mh-30 {
    margin-top:30px;
    margin-bottom:30px;
}
.mh-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mr-10 {
    margin-right: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}
.bb{
    /*border-bottom: 1px solid #ecf0f1;*/
    border-bottom: 1px solid #94a5a6;
}
.bt{
    /*border-bottom: 1px solid #ecf0f1;*/
    border-top: 1px solid #94a5a6;
}





/*側邊開闔的RWD導覽列*/

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #2c3e50;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav {
    height: 100%;
    min-height: calc( 100vh - 162px );
    width: 25%;
    position: static;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    background-color: #ecf0f1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        padding: 10px 15px;
        padding-right: 0;
    }
    .navbar-toggle {
        padding-left: 0;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .navbar-toggle>span.glyphicon {
        display: block;
    }
    .navbar-toggle>span.icon-text {
        font-size: 12px;
    }
    .navbar-header>:nth-child(3) {
        margin-right: 0;
    }
    .main-menu li .glyphicon {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        font-size: 24px;
        margin-top: 0;
        padding-bottom: 0;
        padding-right: 10px;
    
    }
    .main-menu li>a{
        line-height: 24px;
        vertical-align: middle;
    }
    .font-sizeGroup{
        padding-top:0;
        padding: 10px 15px;
        text-align: center;
    }
    #mySidenav,#mySidenavRight{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
    .sidenav {
        height: 100%;
        width: 260px;
        position: fixed;

        z-index: 10;
        top: 0;
        left: 0;
        display: none;
        background-color: #ecf0f1;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .closebtn-smallLeft {
        position: fixed;
        left: 218px;
        top: 15px;
    }
}

@media screen and (max-width: 380px) {
    .navbar-brand {
        padding-left: 0;
    }
    .navbar-header>:nth-child(2) {
        margin-right: 0;
        padding-right: 0;
    }
    .navbar-header>:nth-child(3) {
        margin-right: 0;
        padding-right: 2px;
    }
}


/*表格*/
.table {
        background: #fff;
        overflow: hidden;
        color: #4a4a4a;
    }
.table tr:nth-of-type(even) {
        background: #F5F6F7;
    }
    .table th,
    .table td {
        margin: 15px 5px;
    }




/*RWD表格*/
/*RWD table*/

    .rwd-table {
        background: #fff;
        overflow: hidden;
        color: #4a4a4a;
    }

    .rwd-table tr:first-child>th {
        font-weight: bold;
    }

    .rwd-table tr:nth-of-type(even) {
        background: #F5F6F7;
    }

    .rwd-table th,
    .rwd-table td {
        margin: 15px 5px;
    }

    .rwd-table {
        min-width: 100%;
    }

    .rwd-table th {
        display: none;
    }

    .rwd-table td {
        display: block;
    }

    .rwd-table td:before {
        content: attr(data-th) " : ";
        font-weight: bold;
        width: 7em;
        display: inline-block;
    }

    .rwd-table th,
    .rwd-table td {
        text-align: left;
    }

    .rwd-table th,
    .rwd-table td:before {
        color: #4A4A4A;
        font-weight: bold;
    }

    @media (min-width: 992px) {
        .rwd-table td:before {
            display: none;
        }
        .rwd-table th,
        .rwd-table td {
            display: table-cell;
            padding: 15px 5px;
        }
        .rwd-table th:first-child,
        .rwd-table td:first-child {
            padding-left: 10px;
        }
        .rwd-table th:last-child,
        .rwd-table td:last-child {
            padding-right: 10px;
        }
        .rwd-table th,
        .rwd-table td {
            padding: 15px 5px;
            !important;
        }
        .rwd-table th,
        .rwd-table td:before {
            color: #4a4a4a;
            font-weight: normal;
        }
        
    }